.bg-blue {

    background-color: #1A2238;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

footer {
    text-align: center;
    background-color: #A8D0E6;
}

.content {

    background-color: #eceff2;
}
