.bg-blue {

    background-color: #1A2238;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

footer {
    text-align: center;
    background-color: #eceff2;

}

footer img{
height: 30px;
margin: 20px;
}

.content {

    background-color: #eceff2;
}
