.bg-blue {

    background-color: #1A2238;
}

/* .ml-auto, .mx-auto {
    margin-left: auto!important;
} */

.card-header {
    background-color: #A8D0E6;
}

footer {
    text-align: center;
    background-color: #eceff2;

}

footer img {
height: 30px;
margin: 20px;
}

.navbar-brand {
    margin-left: 20px;
}

.content {

    background-color: #eceff2;
    padding: 20px;
}


.setwidth {
    width: 100%;

}
/* .card-body {
    justify-content: center;
} */